.customer-order-list{
  list-style-type: none;
  width: 90%;
  height: 90%;

}
.form-container{
  border-color: rgb(49, 4, 49);
  border-width: 2.5px;
  background-color: rgb(162, 219, 221);
}

.customer-order-list-item button {
  border: none;
  background-color: gray;
  margin: 0.5em;
  padding: 0.5em 1em ;
  border-radius: 1em;
}
.title-list {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  list-style: none;
}
/* .form-container label{
  width: 30px;
} */
.form-container .form-control {
  color: rgb(7, 1, 1);
  height: 32px;
  display: flex;
  background: rgb(170, 169, 189);
  //border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  //color: #393939;
  font-size: 15px;
  text-align: center;
  border-color: rgb(7, 0, 1);
  border-width: 1.5px;
  margin-left: 14px;
}
.form-container .form-control[type="text"]{
  // background: blueviolet;
  display: inline-flex;
}
.form-order{
  display: flex;
  flex-direction: row;
  padding-top: 13px;
}
.cliente-name{
  font-size: 21px;
}
.delivery {
  font-size: 21px;
  margin-left: 43px;
}
.date{
 padding-top: 10px;
 color: hsl(180, 50%, 1%);
 background-color: hsl(203, 7%, 46%);
 text-align: center;
 margin-top: 10px;
}
ontainer .form-control[type="number"] {
  width: 40px;
}
.form-control:focus{
border: 1.5px solid rgb(230, 37, 37);
}
.form-btn-cancel-order{
  text-decoration: none;
    padding: 3px;
   // padding-left: 10px;
   // padding-right: 10px;
    font-weight: 300;
    /* font-size: 25px; */
    font-style: italic;
    color: #080808;
    font-weight: bold;
    margin-left: 114px;
    background-color: #ce7479;
    border-radius: 50%;
    border: 3px double #e70a0a;
    width: 83px;
    height: 80px;
}
.form-btn-cancel-order:hover{
  opacity: 0.6;
  text-decoration: none;
}
/* .form-btn-cancel-order{
  color: rgb(5, 5, 5);
  background: transparent;
  border: 2px solid rgb(233, 22, 22);
  border-radius: 6px;
  width: 88px;
  height: 44px;

}
.form-btn-cancel-order:hover {
  background-color: rgb(216, 7, 7);
} */
.send-order-to{
  text-decoration: none;
    padding: 3px;
   // padding-left: 10px;
   // padding-right: 10px;
    font-weight: 300;
    /* font-size: 25px; */
    font-style: italic;
    color: #080808;
    font-weight: bold;
    margin-left: 55px;
    background-color: #7bcdee;
    border-radius: 50%;
    border: 3px double hsl(202, 94%, 48%);
    width: 83px;
    height: 80px;
}
.send-order-to:hover{
  opacity: 0.6;
  text-decoration: none;
}

