    <section>
        <label>Orden de cliente:</label>
        <input type="text" class="form-control" (input) = "onModificarPersona($event)">
      {{nombreCliente}}
    <ul class = "title-list">
        <li>Producto</li>
        <li>Precio</li>
        <li>Cantidad</li>
        <li>Subtotal</li>
    </ul>

    <ul class = "customer-order-list">
        <li class = "customer-order-list-item" *ngFor = "let item of result">
            <span>{{item.product}} {{item.price}} {{item.subtotal}}s/ </span>
            <span> Cantidad: {{item.quantity}}</span>
            <button (click)="reduceProduct(item)"> - </button> <button (click)="deleteProduct(item)"> X </button>
        </li>
        <div class= "total"> <p>Total:</p></div>
    </ul>
    </section>

