.menu-list-wrapper{
    padding: 2em .5em 0 1.5em;
    text-align: left;
    // align-content: center;
    -webkit-box-shadow: inset -13px 12px 36px -14px rgba(156,156,156,1);
    -moz-box-shadow: inset -13px 12px 36px -14px rgba(156,156,156,1);
    box-shadow: inset -13px 12px 36px -14px rgba(156,156,156,1);
}
.menu-list {
    width:100%;
    height:80vh;
    display:flex;
    padding: none;
    // flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
}
.menu-list-item li{
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
}

.menu-list-item img{
    width: 3em;
    height:3em;
    display: block;
    position: relative;
    justify-self: flex-start;
}
.menu-list-item .item-btn {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
}
.menu-list-item p{
  display: block;
  padding: 0.5em;
  // background: red;
}

.menu-list-item .item-btn{
  border-radius: 50px;
  border-style: none;
}
// .menu-title{
//   color: black;
//   font-size: 2em;
// }
// .item-btn{
//   border: none;
//   margin: 0.5em;
//   padding: 1em;
//   width: 100%;
//   height: auto;
//   font-family: 'Roboto', sans-serif;
//   border-radius: 1em;
//   background-color: darkslategrey;
//   color: floralwhite;
// }
