:root {
  --ftn-family :'Roboto Condensed', sans-serif;
  --ftn-color: #45474b;
}

.menu-list-wrapper{
    padding: 2em .5em 0 1.5em;
    //text-align: left;
    // align-content: center;
    // background-color: #242527;
    background-color: black;
    text-align: center;
    -webkit-box-shadow: inset -13px 12px 36px -14px rgba(156,156,156,1);
    -moz-box-shadow: inset -13px 12px 36px -14px rgba(156,156,156,1);
    box-shadow: inset -13px 12px 36px -14px rgba(156,156,156,1);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    margin: 17px;
    margin-top: 0;
}
.menu-title{
  color: black;
  font-size: 2em;
  margin: 0 0 0.5em 0.5em;
}
.menu-list {
    width:100%;
    height:80vh;
    display:flex;
    padding: none;
    // flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    // justify-content: center;
}
.menu-list-item li{
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    align-content: center;
}

.menu-list-item img{
    width: 3em;
    height:3em;
    display: block;
    position: relative;
    justify-self: flex-start;
}
.menu-list-item .item-btn {
  margin: 0.5em;
  font-size: 1em;
  display: flex;
  color: white;
  border-style: none;
  text-align: center;

  border-radius: 50px;
  flex-direction: row;
  justify-content: center;
  background-color: #45474b;
  font-family: var(--ftn-family);
}
.menu-list-item p{
  display: block;
  padding: 1em;
  // background: red;
}

.menu-list-item .item-btn:hover {
  background-color:#006b61;
  // border: 2px solid #006b61;
}



// .item-btn{
//   border: none;
//   margin: 0.5em;
//   padding: 1em;
//   width: 100%;
//   height: auto;
//   font-family: 'Roboto', sans-serif;
//   border-radius: 1em;
//   background-color: darkslategrey;
//   color: floralwhite;
// }
