.nav-menu-links {
  width: 100%;
  height: 100%;
}

.menu-button {
  // padding: 1em;
  height: 25%;
  width: 100%;
  display: flex;
  border-style: none;
  font-weight: bolder;
  font-size: xx-large;
  display: -webkit-box;
  color:  #e45a00;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #b3aa99;
}
.menu-button:hover {
  color: #f8c90c;
  background-color:#006b61;
}
